<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Diario de trading</title>
</head>
<body th:class="bg-dark">
<header th:insert="~{fragments/navbar.html::navbar}"></header>

<div th:class="container">
    <div class="card bg-dark border-dark" style="font-size: 18px">
        <div class="card-body">

            <!-- Inicio encabezado -->
            <div class="card bg-dark border-secondary">
                <div class="card-body">

                    <div th:class="text-success">
                        <h4>Piario de trading - ditrading</h4>
                    </div>
                    <hr th:class="text-secondary">
                    <div th:class="text-light">
                        <h5>Estadísticas de trading </h5>
                    </div>
                </div>
            </div> <!-- Fin encabezado -->
            <br>
            <!-- Inicio estadísticas -->
            <div class="card bg-dark border-secondary" style="font-size: 16px">
                <div class="card-body">
                    <div th:class="text-light">
                        <h5>Resumen de trading mes actual.</h5>
                    </div>
                    <hr th:class="text-secondary">
                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <!-- sin th encabezado de tabla -->
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td >Balance Ganancias/Perdidas</td>
                            <td>
                                <span th:if="${statisticsDTO.getPnlBalanceCurrentMth() < 0}"
                                      class="badge rounded-pill text-bg-danger" style="font-size: 14px"
                                      th:text="${#numbers.formatCurrency(statisticsDTO.getPnlBalanceCurrentMth())}"></span>

                            <span th:unless="${statisticsDTO.getPnlBalanceCurrentMth() < 0}"
                                  class="badge rounded-pill text-bg-success" style="font-size: 15px"
                                  th:text="${#numbers.formatCurrency(statisticsDTO.getPnlBalanceCurrentMth())}"></span>
                            </td>

                        </tr>

                        <tr>
                            <td>Top 3 Estrategias</td>
                            <td>
                                <span th:each="strategy : ${statisticsDTO.getTopStrategiesCurrentMth()}"
                                      th:text="${strategy}" class="badge rounded-pill text-bg-primary"
                                      style="font-size: 12px; margin-right: 10px;">
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>Top 3 Instrumentos</td>
                            <td>
                                <span th:each="instrument : ${statisticsDTO.getTopInstrumentCurrentMth()}"
                                      th:text="${instrument}" class="badge rounded-pill text-bg-primary"
                                      style="font-size: 12px; margin-right: 10px;">
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>Trades en ganancia</td>
                            <td><span th:text="${statisticsDTO.getTradesProfitCurrentMth()}"
                                      class="badge rounded-pill text-bg-success" style="font-size: 14px"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>Trades en perdida</td>
                            <td><span th:text="${statisticsDTO.getTradesLossCurrentMth()}"
                                      class="badge rounded-pill text-bg-danger" style="font-size: 14px"></span>
                            </td>

                        <tr>
                            <td>Total trades</td>
                            <td><span th:text="${statisticsDTO.getAllTradesCurrentMonth()}"
                                      class="badge rounded-pill text-bg-primary" style="font-size: 16px"></span></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div> <!-- Fin estadísticas -->
        </div>  <!--fin card body-->
    </div> <!--fin card-->
</div> <!--fin container-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<footer th:insert="~{fragments/footer::footer}"></footer>
</body>
</html>