<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title th:text="${title}"></title>
    <style> hr {
        height: 1px;
        background-color: #ccc;
        border: none;
    } </style>
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>
<body class="bg-dark">
<header th:insert="~{fragments/navbar.html::navbar}"></header>
<br>
<!-- <div class="container"> -->
<div class="card bg-dark border-secondary">
    <div class="card-body">
        <div class="text-light">
            <h5 th:text="${titleAction}"></h5>
        </div>
        <hr>
        <div>
            <a class="btn btn-primary btn-sm" th:href="@{/trades/list}" role="button"
               title="Regresa a lista de trades"
               style="font-size: 14px">Regresar</a>
        </div>
    </div>
</div>
<br>
<div class="card bg-dark border-secondary text-light " style="font-size: 14px">
    <div class="card-body">
        <form class="row g-3 needs-validation" method="post" style="font-size: 14px"
              novalidate th:action="@{/trades/save}" th:object="${trade}">

            <!-- input symbol -->
            <div class="col-sm-2">
                <label for="symbol" class="form-label">Símbolo</label>
                <select class="form-select form-select-sm bg-secondary" disabled required aria-label="symbol"
                        id="symbol" th:field="*{symbol}">
                    <option selected value="">None</option>
                    <option th:each="symbol : ${listSymbols}"
                            th:value="${symbol.idSymbol}"
                            th:text="${symbol.nameSymbol}"></option>
                </select>
                <input type="hidden" th:field="*{symbol}">
            </div>

            <!-- input Cantidad -->
            <div class="col-sm-1">
                <label for="assetsQuantity" class="form-label">Cantidad</label>
                <input type="text" class="form-control form-control-sm bg-secondary" disabled name="assetsQuantity"
                       id="assetsQuantity" aria-describedby="assetsQuantity" style="font-size: 14px;"
                       placeholder="0" th:field="*{assetsQuantity}">
                <input type="hidden" th:field="*{assetsQuantity}">
            </div>

            <!-- input Intervalo -->
            <div class="col-sm-1">
                <label for="timeFrame" class="form-label">Intervalo</label>
                <select class="form-select form-select-sm bg-secondary" disabled aria-label="Seleccione un frame"
                        id="timeFrame" name="timeFrame" th:field="*{timeFrame}">
                    <option selected value="">None</option>
                    <option th:each="frame : ${listFrames}"
                            th:value="${frame.idFrame}"
                            th:text="${frame.nameFrame}"></option>
                </select>
                <input type="hidden" th:field="*{timeFrame}">
            </div>

            <!-- input Posición -->
            <div class="col-sm-1">
                <label for="namePosition" class="form-label">Posición</label>
                <select class="form-select form-select-sm bg-secondary" disabled aria-label="Seleccione una posición"
                        id="namePosition" name="namePosition" th:field="*{position}">
                    <option selected value="">None</option>
                    <option th:each="position : ${listPositions}"
                            th:value="${position.idPosition}"
                            th:text="${position.namePosition}">
                    </option>
                </select>
                <input type="hidden" th:field="*{position}">
            </div>

            <!-- input entryDate-->
            <div class="col-sm-2">
                <label for="entryDate" class="form-label">Fecha/Compra</label>
                <input type="date" class="form-control form-control-sm bg-secondary" readonly
                       name="entryDate" id="entryDate" aria-describedby="entryDate" style="font-size: 14px;"
                       th:value="${trade.entryDate}">
                <!-- <small th:if="${#fields.hasErrors('detailSymbol')}" th:errors="*{detailSymbol}"
                        th:class="'form-text text-danger'"></small> -->
            </div>

            <!-- input Precio/Compra -->
            <div class="col-sm-2">
                <label for="entryPrice" class="form-label">Precio/Compra</label>
                <input type="text" class="form-control form-control-sm bg-secondary" disabled name="entryPrice"
                       id="entryPrice" aria-describedby="entryPrice" style="font-size: 14px;"
                       placeholder="0.0" th:field="*{entryPrice}">
            </div>
            <input type="hidden" th:field="*{entryPrice}">

            <!-- input Strategy -->
            <div class="col-sm-2">
                <label for="strategy" class="form-label">Strategy</label>
                <select class="form-select form-select-sm bg-secondary" disabled aria-label="strategy"
                        id="strategy" th:field="*{strategy}">
                    <option selected value="">None</option>
                    <option th:each="strategy : ${listStrategies}"
                            th:value="${strategy.idStrategy}"
                            th:text="${strategy.nameStrategy}"></option>
                </select>
                <input type="hidden" th:field="*{strategy}">
            </div>

            <!-- input riskReward-->
            <div class="col-sm-1">
                <label for="riskReward" class="form-label">R/R</label>
                <input type="text" class="form-control form-control-sm bg-secondary" name="riskReward" readonly
                       id="riskReward" aria-describedby="riskReward" style="font-size: 14px;"
                       placeholder="0.0" th:field="*{riskReward}">
                <!-- <small th:if="${#fields.hasErrors('detailSymbol')}" th:errors="*{detailSymbol}"
                        th:class="'form-text text-danger'"></small> -->
            </div>

            <!-- input -->
            <div class="col-sm-2">
                <label for="stopLoss" class="form-label">Stop Loss</label>
                <input type="text" class="form-control form-control-sm" name="stopLoss"
                       id="stopLoss" aria-describedby="stopLoss" style="font-size: 14px;"
                       placeholder="0.0" th:field="*{stopLoss}">
                <!-- <small th:if="${#fields.hasErrors('detailSymbol')}" th:errors="*{detailSymbol}"
                        th:class="'form-text text-danger'"></small> -->
            </div>

            <!-- input -->
            <div class="col-sm-2">
                <label for="takeProfit" class="form-label">Take/Profit</label>
                <input type="text" class="form-control form-control-sm" name="takeProfit"
                       id="takeProfit" aria-describedby="takeProfit" style="font-size: 14px;"
                       placeholder="0.0" th:field="*{takeProfit}">
                <!-- <small th:if="${#fields.hasErrors('detailSymbol')}" th:errors="*{detailSymbol}"
                        th:class="'form-text text-danger'"></small> -->
            </div>

            <!-- input exitDate-->
            <div class="col-sm-2">
                <label for="exitDate" class="form-label">Fecha/Venta</label>
                <input type="date" class="form-control form-control-sm"
                       name="exitDate" id="exitDate" aria-describedby="exitDate" style="font-size: 14px;"
                       th:value="*{exitDate}">
                <!-- <small th:if="${#fields.hasErrors('detailSymbol')}" th:errors="*{detailSymbol}"
                        th:class="'form-text text-danger'"></small> -->
            </div>

            <!-- input status -->

            <div class="col-sm-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>



            </div>
            <!--Fin input status -->

            <div class="mb-2 ">
                <button class="btn btn-primary btn-sm" type="submit" style="font-size: 14px;">Guardar</button>
            </div>
            <input type="hidden" th:field="*{idTrade}" id="idTrade" name="idTrade">
        </form>
    </div> <!-- Fin card-body del from -->
</div> <!-- Fin card del from -->
<!-- </div>  Fin container -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<footer th:insert="~{fragments/footer::footer}"></footer>
</body>
</html>