<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Trades</title>
    <style> hr {
        height: 1px;
        background-color: #ccc;
        border: none;
    } </style>
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>
<body class="bg-dark">
<header th:insert="~{fragments/navbar.html::navbar}"></header>
<br>

<!-- Inicio encabezado -->
<div class="card bg-dark border-secondary">
    <div class="card-body">
        <div class="text-light">
            <h5>Trades - Abiertos/Cerrados</h5>
        </div>
        <hr>
        <a class="btn btn-primary btn-sm" role="button" title="Abre nuevo trade"
           style="font-size: 14px" th:href="@{/trades/new}">Nuevo/Trade</a>
    </div>
</div> <!-- Fin encabezado -->
<br>
<div th:if="${message != null}" class="alert alert-success col-md" th:text="${message}" role="alert"></div>
<!-- inicio tabla -->
<div class="card bg-dark border-secondary" style="font-size: 14px">
    <div class="card-body">
        <table class="table table-sm table-dark table-hover table-striped table-bordered">
            <thead>
            <tr class="text-center">
                <th th:class="bg-success" scope="col">Trade#</th>
                <th th:class="bg-success" scope="col">Símbolo</th>
                <th th:class="bg-success" scope="col">Cant</th>
                <th th:class="bg-success" scope="col">Intervalo</th>
                <th th:class="bg-success" scope="col">Posición</th>
                <th th:class="bg-success" scope="col">F/Compra</th>
                <th th:class="bg-success" scope="col">P/Compra $</th>
                <th th:class="bg-success" scope="col">Estrategia</th>
                <th th:class="bg-success" scope="col">SL</th>
                <th th:class="bg-success" scope="col">R/R</th>
                <th th:class="bg-success" scope="col">F/Venta</th>
                <th th:class="bg-success" scope="col">TP</th>
                <th th:class="bg-success" scope="col">RoI %</th>
                <th th:class="bg-success" scope="col">PnL %</th>
                <th th:class="bg-success" scope="col">PnL $</th>
                <th th:class="bg-success" scope="col">Estado</th>
                <th th:class="bg-success" scope="col">Acción</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="text-center align-middle" th:each="trade : ${listTrade}">
                <td th:text="${trade.idTrade}"></td>
                <td th:text="${trade.symbol.nameSymbol}"></td>
                <td th:text="${trade.assetsQuantity}"></td>
                <td th:text="${trade.timeFrame.nameFrame}"></td>
                <td th:text="${trade.position.namePosition}"></td>
                <td th:text="${trade.entryDate}"></td>

                <!-- Inicio td entryPrice -->
                <td th:text="${trade.entryLength} > 2 ? ${#numbers.formatDecimal(trade.entryPrice,1,'COMMA',6,'POINT') + ' ' + '$'}
                  : ${#numbers.formatDecimal(trade.entryPrice,1,'COMMA',2,'POINT') + ' ' + '$'}"
                    th:class="text-light"></td>
                <!-- fin td entryPrice -->

                <td th:text="${trade.strategy.nameStrategy}"></td>

                <!-- Inicio td stopLoss -->
                <td th:text="${trade.stopLength} > 2  ? ${#numbers.formatDecimal(trade.stopLoss,1,'COMMA',6,'POINT') + ' ' + '$'}
                  : ${#numbers.formatDecimal(trade.stopLoss,1,'COMMA',2,'POINT') + ' ' + '$'}  "></td>
                <!-- fin td stopLoss -->

                <td th:text="${trade.riskReward}"></td>

                <!-- Inicio td exitDate -->
                <td th:if="${trade.exitDate == null}" th:class="text-danger" th:text="'---'"></td>
                <td th:unless="${trade.exitDate == null}" th:text="${trade.exitDate}"></td>

                <!-- Inicio td takeProfit -->
                <td th:if="${trade.takeProfit != null and trade.takeProfit > 0 }" th:class="text-light"
                    th:text="${trade.profitLength > 2} ? ${#numbers.formatDecimal(trade.takeProfit,1,'COMMA',6,'POINT') + ' ' + '$'}
                     : ${#numbers.formatDecimal(trade.takeProfit,1,'COMMA',2,'POINT') + ' ' + '$'}">
                </td>
                <td th:unless="${trade.takeProfit != null and trade.takeProfit > 0}" th:class="text-danger"
                    th:text="${trade.profitLength < 2 and trade.takeProfit == null} ? '---'
                    : ${#numbers.formatDecimal(trade.takeProfit,1,'COMMA',6,'POINT') + ' ' + '$'} ">
                </td>
                <!-- Fin td takeProfit -->

                <!--Inicio td returnInvestment -->
                <td th:if="${trade.returnInvestment != null and trade.returnInvestment >0}" th:class="text-success"
                    th:text="${#numbers.formatDecimal(trade.returnInvestment,1,'COMMA',1,'POINT') + ' ' + '%'}">
                </td>
                <td th:unless="${trade.returnInvestment != null and trade.returnInvestment >0}" th:class="text-danger"
                    th:text="${trade.returnInvestment ==null} ? '---': ${#numbers.formatDecimal(trade.returnInvestment,1,'COMMA',1,'POINT') + ' ' + '%'}">
                </td>

                <!--Inicio td pnlPercentage -->
                <td th:if="${trade.pnlPercentage != null and trade.pnlPercentage >0}" th:class="text-success"
                    th:text="${#numbers.formatDecimal(trade.pnlPercentage,1,'COMMA',1,'POINT') + ' ' + '%'}">
                </td>
                <td th:unless="${trade.pnlPercentage != null and trade.pnlPercentage >0}" th:class="text-danger"
                    th:text="${trade.pnlPercentage ==null} ? '---': ${#numbers.formatDecimal(trade.pnlPercentage,1,'COMMA',1,'POINT') + ' ' + '%'}">
                </td>
                <!--Fin td pnlPercentage -->

                <!-- Inicio td pnlBalance -->
                <td th:if="${trade.pnlBalance != null and trade.pnlBalance > 0 }" th:class="text-success"
                    th:text="${trade.pnlLength > 2} ? ${#numbers.formatDecimal(trade.pnlBalance,1,'COMMA',6,'POINT') + ' ' + '$'}
                     : ${#numbers.formatDecimal(trade.pnlBalance,1,'COMMA',2,'POINT') + ' ' + '$'}">
                </td>
                <td th:unless="${trade.pnlBalance != null and trade.pnlBalance > 0}" th:class="text-danger"
                    th:text="${trade.pnlLength < 2 and trade.pnlBalance == null} ? ${#numbers.formatDecimal(trade.pnlBalance,1,'COMMA',6,'POINT') + ' ' + '$'} : ${#numbers.formatDecimal(trade.pnlBalance,1,'COMMA',2,'POINT') + ' ' + '$'} ">
                </td>
                <!-- Fin  td pnlBalance -->

                <td th:text="${trade.status.nameStatus}" style="font-size: 12px"></td>
                <td class="text-center align-middle">
                    <a class="btn btn-outline-primary btn-sm" role="button" title="Editar trade"
                       th:href="@{/trades/edit/{id} (id = ${trade.idTrade})}">
                        <i class="fas fa-pencil-alt"></i></a>
                    &nbsp
                    <a class="btn btn-outline-danger btn-sm" role="button" title="Eliminar trade"
                       th:href="@{/trades/delete/{id} (id = ${trade.idTrade})}"
                       onclick="return confirm('¿Desea eliminar el trade?')">
                        <i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div> <!-- Fin card-body tabla -->
</div> <!-- Fin card tabla -->
<br>

<!-- Inicio paginación -->
<div class="row" th:if="${listTrade.totalPages > 0}">
    <div class="md-2"></div>
    <div class="md-8">
        <nav aria-label="Pagination">
            <ul class="pagination pagination-sm justify-content-center">

                <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{|/trades/list?page=${prev}|}">Anterior</a>
                </li>

                <li class="page-item" th:each="page : ${pages}"
                    th:classappend="${current == page ? 'active' : ''}">
                    <a class="page-link" th:href="@{|/trades/list?page=${page}|}" th:text="${page}"></a>
                </li>

                <li class="page-item" th:classappend="${current == last} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{|/trades/list?page=${next}|}">Siguiente</a>
                </li>
            </ul>
        </nav>
        <div th:class="col-md-2"></div>
    </div>
</div>
<!-- Fin paginación -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<footer th:insert="~{fragments/footer::footer}"></footer>
</body>
</html>